<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.calq.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <!-- 
    	INTERNET permission is required to send data to Calq. 
    -->
    <uses-permission 
        android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true">
        
	</application>
        
</manifest>
